.About {
  width: 100%;
  min-height: 100vh;
  padding: 35px 0;
}

.Headers {
  margin-left: 50px;
  border-left: 5px solid #51b960;
  padding-left: 18px;
}

.Headers h1 {
  font-family: "Inter", sans-serif;
  font-size: 38px;
  margin: 0;
  margin-bottom: 20px;
}

.Headers span {
  font-family: "Inter", sans-serif;
  font-size: 18px;
}

.Skills {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  justify-items: center;
  margin-top: 45px;
}

.Skills .Line {
  width: 5px;
  background-color: rgba(95, 161, 213, 75%);
  border-radius: 10px;
}

.SkillSection {
  background-color: rgba(0, 0, 0, 5%);
  border-radius: 5px;
  display: flex;
  flex-flow: column;
  width: 350px;
  text-align: center;
  margin-bottom: 18px;
  padding: 20px;
  box-shadow: 0px 0px 30px rgb(0 0 0 / 32%);
}

.SkillSection div {
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  margin-bottom: 18px;
}

.SkillSection div h2 {
  font-size: 38px;
  color: #5fa1d5;
  margin: 0;
}

.SkillSection p {
  font-family: "Inter", sans-serif;
  line-height: 26px;
  font-size: 14px;
  text-align: start;
}

.Sentences {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

.Sentences div {
  width: 240px;
  background: #51b960;
  outline: 2px solid rgba(81, 185, 96, 0.5);
  border-radius: 10px;
  padding: 16px;
}

.Sentences div p {
  color: #fff;
}

.Technologies {
  background-color: rgba(0, 0, 0, 0.25);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 100px;
  padding: 18px;
}

.Technologies svg {
  margin: 8px;
  flex: 1 125px;
}

@media (min-width: 1150px) {
  .Skills {
    flex-flow: row;
    align-items: normal;
  }

  .Skills .Line {
    width: 5px;
    background-color: rgba(95, 161, 213, 75%);
    border-radius: 10px;
  }
}

/* @media (min-width: 600px) {
  @media (max-width: 900px) {
    .Skills {
      flex-flow: column;
    }
  }
} */

@media (min-width: 600px) {
  .Sentences div {
    width: 350px;
  }
}
