.Footer {
  width: 100%;
  height: 150px;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  /* align-items: center; */
}

.Logo {
  margin-top: 20px;
  margin-left: 15px;
}

.Links {
  margin-top: 20px;
  margin-bottom: 10px;
  display: flex;
  flex-flow: row;
}

.Links a svg {
  padding: 10px;
  width: 35px;
  height: 35px;
}

@media (min-width: 600px) {
  .Footer {
    height: 95px;
    flex-flow: row;
    justify-content: space-between;
    align-items: none;
  }

  .Links a svg {
    padding: 15px;
  }
}
