.Contact {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 35px 0;
}

.Headers {
  font-family: "Inter", "sans-serif";
  margin-bottom: 20px;
  margin-left: 50px;
  border-left: 5px solid #51b960;
  padding-left: 18px;
}
.Headers h1 {
  font-size: 38px;
  margin: 0;
  margin-bottom: 20px;
}

.ContactHeaders span {
  font-size: 18px;
}

.ContactDiv {
  display: flex;
  flex-direction: column;
}

.ContactDiv .ContactIllustration {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ContactDiv .ContactIllustration img {
  width: 376px;
  height: 373px;
}

.ContactDiv .ContactForm {
  justify-content: center;
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.ContactDiv .ContactForm form {
  display: flex;
  flex-direction: column;
  max-width: 540px;
  width: 90%;
}

.ContactDiv .ContactForm form button {
  margin-top: 20px;
}

.ContactDiv .ContactForm .ContactFormRow {
  display: flex;
  flex-direction: column;
}

.SuccessMsg {
  padding: 25px 18px;
  background-color: #51b960;
  border-radius: 5px;
  font-family: "Inter", "sans-serif";
}

.SuccessMsg h3 {
  margin: 0 0 18px 0;
  font-size: 20px;
  font-weight: bold;
}

.SuccessMsg p {
  font-size: 16px;
  margin: 0 0 18px 0;
}

.SuccessMsg span {
  cursor: pointer;
  font-size: 16px;
  color: #004b85;
}

@media (min-width: 1035px) {
  .ContactDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .ContactDiv .ContactForm {
    padding: 0px;
  }

  .ContactDiv .ContactForm form {
    display: flex;
    flex-direction: column;
    max-width: 540px;
    width: 540px;
  }

  .ContactDiv .ContactForm .ContactFormRow {
    justify-content: space-between;
    flex-direction: row;
  }

  .ContactDiv .ContactIllustration img {
    width: 415px;
    height: 412px;
  }
}
