.ProjectCard {
  min-width: 320px;
  max-width: 420px;
  width: 90%;
  background-color: rgba(95, 161, 213, 0.25);
  padding: 18px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
}

.ProjectCard .ProjectName {
  font-family: "Inter", "sans-serif";
  font-size: 20px;
  margin: 0;
  margin-bottom: 20px;
}

.ProjectCard .Technologies {
  display: flex;
  flex-direction: row;
  margin: 0;
  margin-bottom: 20px;
}

.ProjectCard .Technologies svg:first-child {
  margin-left: 0;
}

.ProjectCard .Technologies svg:last-child {
  margin-right: 0;
}

.ProjectCard .Technologies svg {
  width: 40px;
  height: 40px;
  margin: 0 20px;
}

.ProjectCard .Description {
  font-family: "Inter", "sans-serif";
  margin-bottom: 20px;
}

.ProjectCard .Description p {
  height: 80px;
  max-height: 80px;
  overflow-y: scroll;
}

.ProjectCard .Description p::-webkit-scrollbar {
  width: 8px;
  height: 12px;
}

.ProjectCard .Description p::-webkit-scrollbar-track {
  border: 1px solid transparent;
}

.ProjectCard .Description p::-webkit-scrollbar-thumb {
  background: #90b8f8;
  border-radius: 10px;
}

.ProjectCard .Actions {
  display: flex;
  font-size: 12px;
  justify-content: space-between;
}

.ProjectCard .Actions button {
  font-size: 14px;
  height: 35px;
  width: 45%;
}
